{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    <h1> An Error !!!!!!!!</h1>
    <h2>Looop! Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
    <h3> no found 4040!!!</h3>
{% endblock %}